version: "3.8"

services:
  mysql:
    container_name: mysql
    image: mysql:8.0
    restart: always
    environment:
      MY_ROOT_PASSWORD: "root"
      MY_DATABASE: "flask_db"
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - devops

  flask_app:
    container_name: flask_app
    build:
      context: .
      ports:
        - "5000:5000"
      environment:
        - MYSQL_HOST=mysql
        - MYSQL_USER=root
        - MYSQL_PASSWORD=root
        - MYSQL_DB=flask_db
      networks:
        - devops
      depends_on:
        - mysql


volumes:
  db_data:

networks:
  devops:
    driver: bridge
